# String

- string can be store in single, double and triple quotation

In [7]:
str1="akhtar"
str1

'akhtar'

In [9]:
str2='abbas'
str2

'abbas'

In [11]:
str3="""akhtar"""
str3

'akhtar'

- when we use apostropht in our string then we use doule or triple quotation

In [14]:
name="akhtar abbas's"
name

"akhtar abbas's"

- if we want to line between two sentence in same string then we use escape squence character

## escape aquence character
- use for formatting

In [37]:
str5="this is string. we are creatin in python"
print(str5)

this is string. we are creatin in python

- for line break we use \n

In [33]:
str6="my name is akhtar.\n i form skardu"
print(str6)

my name is akhtar.
 i form skardu

In [39]:
str6="my name is akhtar.\t i form skardu"
print(str6)

my name is akhtar.	 i form skardu

- for tab we use \t

## concanitation

- use for add two string

In [52]:
str1="apna"
str2=" college"
print(str1+str2)

apna college

### length

- use to find the length of string

In [56]:
name="akhtar"
print(len(name))

6

In [58]:
name="akhtar"+" "+"akhtar"
print(len(name))

13

### indexing

- indexing start form 0

In [62]:
str="akhtar"
print(str[0])

a

- index help to access character

- through indexing we can access but not manupulate them

# Slicing

- access part of string

In [5]:
str="apnacollege"
print(str[1:4])

pna

- in slicing the starting idex character include but last character not include

In [10]:
str="apnacollege"
print(str[4:11])

college

In [14]:
str="apnacollege"
print(str[4:len(str)])

college

In [18]:
str="apnacollege"
print(str[4:])

college

In [22]:
name="akhtar abbas"
print(name[:6])

akhtar

- in slicing if we not mention the initial or last index then python fill it automatically

### negative indexing

- negative indexing mean indexing from right to left

- positive indexing start from 0 and negative indexing from -1

In [34]:
name="akhtar"
print(name[-3:-1])

tar

In [36]:
fruit="apple"
print(fruit[-5:-2])

app

  # String Function

In [10]:
str= "i doing my python course form apna college"
print(str.endswith("ege"))

True

- the endswith() function is use to find last character if match then result will be ture and vice versa

In [16]:
name ="akhtar abbas"
print(name.endswith("bbas"))

True

- capitalize() function is used to capitalize the first latter

In [19]:
name="akhtar"
print(name.capitalize())

Akhtar

In [23]:
name="akhtar"
print(name.capitalize())
print(name)

Akhtar
akhtar

- you notice in above cell capitalize() function not change its its origional string but create new string

In [26]:
name="akhtar"
name=name.capitalize()
print(name)

Akhtar

- if we want to change any latter with another latter the use replace() function

In [31]:
name="akhtar  abbas"
print(name.replace("a","e"))

ekhter  ebbes

In [43]:
school="i am studing java from apna college"
print(school.replace("java","python"))

i am studing python from apna college

In [45]:
name="akhtar abbas"
print(name.find("r"))

5

- find() function is use to find the latter or word in string if give the first its first idex of latter or word firt time in string

In [48]:
school="i persuising bs cs form smiu karachi"
print(school.find("form"))

19

In [50]:
print(school[19:23])

form

In [52]:
name="akhtar abbas"
print(name.find("e"))

-1

- if we want to find character or word in string that are not present in string the the output will be -1

- count() function is used to fing occurences of substring in a string

In [56]:
uni="i doing my degree form smiu"
print(uni.count("degree"))

1

In [62]:
name=input("enter your name:", )
print("length of your name is:" ,len(name))

enter your name: akhtar

length of your name is: 6

In [64]:
name= "akhtar abba$ form $kardu"
print(name.count("$"))

2

# Conditional Statement

In [73]:
age=int(input('enter your to check eligible for vote'))
if(age>=18):
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")

enter your to check eligible for vote 34

you are eligible for voting

In [79]:
light=input("enter light condition on traffic signal",)
if(light=="red"):
    print("stop")
elif(light=="green"):
    print("go")
else:
    print("look")

enter light condition on traffic signal blue

look

### indentation

- in python we use space called indentation for proper formatting in other language use {} for formattion

In [89]:
marks=int(input('Enter your marks to you know your grades'))
if(marks>=90 and marks<=100):
    print("Grade:A")
elif(marks>=80 and marks<=89):
    print("Grade:B")
elif(marks>=70 and marks<=79):
    print("Grade:C")
else:
    print("Grade: D")

Enter your marks to you know your grades 69

Grade: D

### nesting condition

In [110]:
age=int(input("enter your age:",))
if(age>=18):
    lic=input("enter have licence for yes or not for no",)
    if(lic=="yes"):
        print("you can drive")
    elif(lic=="no"):
        print("you have no licence therefor not drive")
else:
     print("you cannot drive")

enter your age: 23
enter have licence for yes or not for no no

you have no licence therefor not drive

### practice question

In [117]:
num=int(input("enter number to check even or odd"))
if(num%2==0):
    print("Even")
elif(num%2!=0):
    print("odd")

enter number to check even or odd 3

odd

In [125]:
print("enter three number")
a=int(input('a',))
b=int(input('b',))
c=int(input('c',))
if(a>b and a>c):
  print("a is greater number")
elif(b>a and b>c):
    print("b is greater number")
elif(c>a and c>b):
    print("c is greater nuber")

enter three number

a 10
b 20
c 30

c is greater nuber

- write programme to check mutiple of 7

In [136]:
num=int(input("enter number",))
if(num%7==0):
    print("yes mutiple of 7")
else:
    print("not multiple of 7")

enter number 4

not multiple of 7