# Loop

- loop are used to repeate instruction

### while loop

In [3]:
i=1
while i<=5:
    print("akhtar")
    i+=1

akhtar
akhtar
akhtar
akhtar
akhtar

In [5]:
i=1
while i<=500:
    print("akhtar abbas", i)
    i+=1

akhtar abbas 1
akhtar abbas 2
akhtar abbas 3
akhtar abbas 4
akhtar abbas 5
akhtar abbas 6
akhtar abbas 7
akhtar abbas 8
akhtar abbas 9
akhtar abbas 10
akhtar abbas 11
akhtar abbas 12
akhtar abbas 13
akhtar abbas 14
akhtar abbas 15
akhtar abbas 16
akhtar abbas 17
akhtar abbas 18
akhtar abbas 19
akhtar abbas 20
akhtar abbas 21
akhtar abbas 22
akhtar abbas 23
akhtar abbas 24
akhtar abbas 25
akhtar abbas 26
akhtar abbas 27
akhtar abbas 28
akhtar abbas 29
akhtar abbas 30
akhtar abbas 31
akhtar abbas 32
akhtar abbas 33
akhtar abbas 34
akhtar abbas 35
akhtar abbas 36
akhtar abbas 37
akhtar abbas 38
akhtar abbas 39
akhtar abbas 40
akhtar abbas 41
akhtar abbas 42
akhtar abbas 43
akhtar abbas 44
akhtar abbas 45
akhtar abbas 46
akhtar abbas 47
akhtar abbas 48
akhtar abbas 49
akhtar abbas 50
akhtar abbas 51
akhtar abbas 52
akhtar abbas 53
akhtar abbas 54
akhtar abbas 55
akhtar abbas 56
akhtar abbas 57
akhtar abbas 58
akhtar abbas 59
akhtar abbas 60
akhtar abbas 61
akhtar abbas 62
akhtar abbas 63
akhtar abbas 64
akhtar abbas 65
akhtar abbas 66
akhtar abbas 67
akhtar abbas 68
akhtar abbas 69
akhtar abbas 70
akhtar abbas 71
akhtar abbas 72
akhtar abbas 73
akhtar abbas 74
akhtar abbas 75
akhtar abbas 76
akhtar abbas 77
akhtar abbas 78
akhtar abbas 79
akhtar abbas 80
akhtar abbas 81
akhtar abbas 82
akhtar abbas 83
akhtar abbas 84
akhtar abbas 85
akhtar abbas 86
akhtar abbas 87
akhtar abbas 88
akhtar abbas 89
akhtar abbas 90
akhtar abbas 91
akhtar abbas 92
akhtar abbas 93
akhtar abbas 94
akhtar abbas 95
akhtar abbas 96
akhtar abbas 97
akhtar abbas 98
akhtar abbas 99
akhtar abbas 100
akhtar abbas 101
akhtar abbas 102
akhtar abbas 103
akhtar abbas 104
akhtar abbas 105
akhtar abbas 106
akhtar abbas 107
akhtar abbas 108
akhtar abbas 109
akhtar abbas 110
akhtar abbas 111
akhtar abbas 112
akhtar abbas 113
akhtar abbas 114
akhtar abbas 115
akhtar abbas 116
akhtar abbas 117
akhtar abbas 118
akhtar abbas 119
akhtar abbas 120
akhtar abbas 121
akhtar abbas 122
akhtar abbas 123
akhtar abbas 124
akhtar abbas 125
akhtar abbas 126
akhtar abbas 127
akhtar abbas 128
akhtar abbas 129
akhtar abbas 130
akhtar abbas 131
akhtar abbas 132
akhtar abbas 133
akhtar abbas 134
akhtar abbas 135
akhtar abbas 136
akhtar abbas 137
akhtar abbas 138
akhtar abbas 139
akhtar abbas 140
akhtar abbas 141
akhtar abbas 142
akhtar abbas 143
akhtar abbas 144
akhtar abbas 145
akhtar abbas 146
akhtar abbas 147
akhtar abbas 148
akhtar abbas 149
akhtar abbas 150
akhtar abbas 151
akhtar abbas 152
akhtar abbas 153
akhtar abbas 154
akhtar abbas 155
akhtar abbas 156
akhtar abbas 157
akhtar abbas 158
akhtar abbas 159
akhtar abbas 160
akhtar abbas 161
akhtar abbas 162
akhtar abbas 163
akhtar abbas 164
akhtar abbas 165
akhtar abbas 166
akhtar abbas 167
akhtar abbas 168
akhtar abbas 169
akhtar abbas 170
akhtar abbas 171
akhtar abbas 172
akhtar abbas 173
akhtar abbas 174
akhtar abbas 175
akhtar abbas 176
akhtar abbas 177
akhtar abbas 178
akhtar abbas 179
akhtar abbas 180
akhtar abbas 181
akhtar abbas 182
akhtar abbas 183
akhtar abbas 184
akhtar abbas 185
akhtar abbas 186
akhtar abbas 187
akhtar abbas 188
akhtar abbas 189
akhtar abbas 190
akhtar abbas 191
akhtar abbas 192
akhtar abbas 193
akhtar abbas 194
akhtar abbas 195
akhtar abbas 196
akhtar abbas 197
akhtar abbas 198
akhtar abbas 199
akhtar abbas 200
akhtar abbas 201
akhtar abbas 202
akhtar abbas 203
akhtar abbas 204
akhtar abbas 205
akhtar abbas 206
akhtar abbas 207
akhtar abbas 208
akhtar abbas 209
akhtar abbas 210
akhtar abbas 211
akhtar abbas 212
akhtar abbas 213
akhtar abbas 214
akhtar abbas 215
akhtar abbas 216
akhtar abbas 217
akhtar abbas 218
akhtar abbas 219
akhtar abbas 220
akhtar abbas 221
akhtar abbas 222
akhtar abbas 223
akhtar abbas 224
akhtar abbas 225
akhtar abbas 226
akhtar abbas 227
akhtar abbas 228
akhtar abbas 229
akhtar abbas 230
akhtar abbas 231
akhtar abbas 232
akhtar abbas 233
akhtar abbas 234
akhtar abbas 235
akhtar abbas 236
akhtar abbas 237
akhtar abbas 238
akhtar abbas 239
akhtar abbas 240
akhtar abbas 241
akhtar abbas 242
akhtar abbas 243
akhtar abbas 244
akhtar abbas 245
akhtar abbas 246
akhtar abbas 247
akhtar abbas 248
akhtar abbas 249
akhtar abbas 250
akhtar abbas 251
akhtar abbas 252
akhtar abbas 253
akhtar abbas 254
akhtar abbas 255
akhtar abbas 256
akhtar abbas 257
akhtar abbas 258
akhtar abbas 259
akhtar abbas 260
akhtar abbas 261
akhtar abbas 262
akhtar abbas 263
akhtar abbas 264
akhtar abbas 265
akhtar abbas 266
akhtar abbas 267
akhtar abbas 268
akhtar abbas 269
akhtar abbas 270
akhtar abbas 271
akhtar abbas 272
akhtar abbas 273
akhtar abbas 274
akhtar abbas 275
akhtar abbas 276
akhtar abbas 277
akhtar abbas 278
akhtar abbas 279
akhtar abbas 280
akhtar abbas 281
akhtar abbas 282
akhtar abbas 283
akhtar abbas 284
akhtar abbas 285
akhtar abbas 286
akhtar abbas 287
akhtar abbas 288
akhtar abbas 289
akhtar abbas 290
akhtar abbas 291
akhtar abbas 292
akhtar abbas 293
akhtar abbas 294
akhtar abbas 295
akhtar abbas 296
akhtar abbas 297
akhtar abbas 298
akhtar abbas 299
akhtar abbas 300
akhtar abbas 301
akhtar abbas 302
akhtar abbas 303
akhtar abbas 304
akhtar abbas 305
akhtar abbas 306
akhtar abbas 307
akhtar abbas 308
akhtar abbas 309
akhtar abbas 310
akhtar abbas 311
akhtar abbas 312
akhtar abbas 313
akhtar abbas 314
akhtar abbas 315
akhtar abbas 316
akhtar abbas 317
akhtar abbas 318
akhtar abbas 319
akhtar abbas 320
akhtar abbas 321
akhtar abbas 322
akhtar abbas 323
akhtar abbas 324
akhtar abbas 325
akhtar abbas 326
akhtar abbas 327
akhtar abbas 328
akhtar abbas 329
akhtar abbas 330
akhtar abbas 331
akhtar abbas 332
akhtar abbas 333
akhtar abbas 334
akhtar abbas 335
akhtar abbas 336
akhtar abbas 337
akhtar abbas 338
akhtar abbas 339
akhtar abbas 340
akhtar abbas 341
akhtar abbas 342
akhtar abbas 343
akhtar abbas 344
akhtar abbas 345
akhtar abbas 346
akhtar abbas 347
akhtar abbas 348
akhtar abbas 349
akhtar abbas 350
akhtar abbas 351
akhtar abbas 352
akhtar abbas 353
akhtar abbas 354
akhtar abbas 355
akhtar abbas 356
akhtar abbas 357
akhtar abbas 358
akhtar abbas 359
akhtar abbas 360
akhtar abbas 361
akhtar abbas 362
akhtar abbas 363
akhtar abbas 364
akhtar abbas 365
akhtar abbas 366
akhtar abbas 367
akhtar abbas 368
akhtar abbas 369
akhtar abbas 370
akhtar abbas 371
akhtar abbas 372
akhtar abbas 373
akhtar abbas 374
akhtar abbas 375
akhtar abbas 376
akhtar abbas 377
akhtar abbas 378
akhtar abbas 379
akhtar abbas 380
akhtar abbas 381
akhtar abbas 382
akhtar abbas 383
akhtar abbas 384
akhtar abbas 385
akhtar abbas 386
akhtar abbas 387
akhtar abbas 388
akhtar abbas 389
akhtar abbas 390
akhtar abbas 391
akhtar abbas 392
akhtar abbas 393
akhtar abbas 394
akhtar abbas 395
akhtar abbas 396
akhtar abbas 397
akhtar abbas 398
akhtar abbas 399
akhtar abbas 400
akhtar abbas 401
akhtar abbas 402
akhtar abbas 403
akhtar abbas 404
akhtar abbas 405
akhtar abbas 406
akhtar abbas 407
akhtar abbas 408
akhtar abbas 409
akhtar abbas 410
akhtar abbas 411
akhtar abbas 412
akhtar abbas 413
akhtar abbas 414
akhtar abbas 415
akhtar abbas 416
akhtar abbas 417
akhtar abbas 418
akhtar abbas 419
akhtar abbas 420
akhtar abbas 421
akhtar abbas 422
akhtar abbas 423
akhtar abbas 424
akhtar abbas 425
akhtar abbas 426
akhtar abbas 427
akhtar abbas 428
akhtar abbas 429
akhtar abbas 430
akhtar abbas 431
akhtar abbas 432
akhtar abbas 433
akhtar abbas 434
akhtar abbas 435
akhtar abbas 436
akhtar abbas 437
akhtar abbas 438
akhtar abbas 439
akhtar abbas 440
akhtar abbas 441
akhtar abbas 442
akhtar abbas 443
akhtar abbas 444
akhtar abbas 445
akhtar abbas 446
akhtar abbas 447
akhtar abbas 448
akhtar abbas 449
akhtar abbas 450
akhtar abbas 451
akhtar abbas 452
akhtar abbas 453
akhtar abbas 454
akhtar abbas 455
akhtar abbas 456
akhtar abbas 457
akhtar abbas 458
akhtar abbas 459
akhtar abbas 460
akhtar abbas 461
akhtar abbas 462
akhtar abbas 463
akhtar abbas 464
akhtar abbas 465
akhtar abbas 466
akhtar abbas 467
akhtar abbas 468
akhtar abbas 469
akhtar abbas 470
akhtar abbas 471
akhtar abbas 472
akhtar abbas 473
akhtar abbas 474
akhtar abbas 475
akhtar abbas 476
akhtar abbas 477
akhtar abbas 478
akhtar abbas 479
akhtar abbas 480
akhtar abbas 481
akhtar abbas 482
akhtar abbas 483
akhtar abbas 484
akhtar abbas 485
akhtar abbas 486
akhtar abbas 487
akhtar abbas 488
akhtar abbas 489
akhtar abbas 490
akhtar abbas 491
akhtar abbas 492
akhtar abbas 493
akhtar abbas 494
akhtar abbas 495
akhtar abbas 496
akhtar abbas 497
akhtar abbas 498
akhtar abbas 499
akhtar abbas 500

In [5]:
i=1
while i<=5:
    print(i)
    i+=1
print("loop ended")

1
2
3
4
5
loop ended

In [9]:
i=5
while i>=1:
    print(i)
    i-=1

5
4
3
2
1

In [11]:
i=1
while i<=100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [25]:
n=int(input("enter number which table you want to print:",))
i=1
while i<=20:
    print(n ," X " ,i ," = " ,n*i)
    i+=1

enter number which table you want to print: 2

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20
2  X  11  =  22
2  X  12  =  24
2  X  13  =  26
2  X  14  =  28
2  X  15  =  30
2  X  16  =  32
2  X  17  =  34
2  X  18  =  36
2  X  19  =  38
2  X  20  =  40

In [29]:
nums=[1,4,9,16,25,36,49,64,81,100]
i=0
while i<=len(nums)-1:
    print(nums[i])
    i+=1

1
4
9
16
25
36
49
64
81
100

In [3]:
nums=(1,4,9,16,25,36,49,64,81,100)
n=int(input("enter number you want to search from 1 to 100"))
i=0
while i<=len(nums)-1:
    if(nums[i]==n):
        print("found at index;" ,i)
    else:
        print("findi----")
    i+=1

enter number you want to search from 1 to 100 100

findi----
findi----
findi----
findi----
findi----
findi----
findi----
findi----
findi----
found at index; 9

In [5]:
nums=(1,4,9,16,25,36,49,64,81,100)
n=int(input("enter number you want to search from 1 to 100"))
i=0
while i<=len(nums)-1:
    if(nums[i]==n):
        print("found at index;" ,i)
        break
    else:
        print("findi----")
    i+=1

enter number you want to search from 1 to 100 25

findi----
findi----
findi----
findi----
found at index; 4

In [3]:
i=1
while i<=5:
    if(i==3):
        i+=1
        continue #skip
    print(i)
    i+=1

1
2
4
5

In [7]:
#for odd number
i=1
while i<=10:
    if(i%2==0):
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9

In [9]:
# for even number
i=1
while i<=10:
    if(i%2!=0):
        i+=1
        continue
    print(i)
    i+=1

2
4
6
8
10

### for loop
- for loop is used for sequential traversal. for traversing list,string,tuple etc

In [14]:
n=[1,2,3,4,6]
for i in n:
    print(i)

1
2
3
4
6

In [16]:
names=["akhtar","shair","ameen","ali"]
for val in names:
    print(val)

akhtar
shair
ameen
ali

In [18]:
tup=(2,4,5,7,4,2,9)
for val in tup:
    print(val)

2
4
5
7
4
2
9

- if we work on any iterator for example we have variable which value update or any stoping condition then use while loop
-  if we want to traverse on any datatype then we use for loop

In [23]:
str="akhtar"
for latter in str:
    print(latter)
else:
    print("end loop")

a
k
h
t
a
r
end loop

- else is execute after the compeletion of loop  and in break case else not work

In [36]:
name="aktar"
for char in name:
    if(char=="r"):
        print("r found")
        break
    print(char)
else:
    print("loop end")

a
k
t
a
r found

In [40]:
name="aktar"
for char in name:
    if(char=="r"):
        print("r found")
        break
    print(char)
print("loop end")

a
k
t
a
r found
loop end

In [42]:
num=[1,4,9,16,25,36,49,64,81,100]
for val in num:
    print(val)

1
4
9
16
25
36
49
64
81
100

In [6]:
num=[1,4,9,9,16,25,36,49,64,81,100]
x=int(input("enter number you want to search:",))
index=0
for val in num:
    if(val==x):
        print("number is found at index",index)
        break
    index +=1

enter number you want to search: 9

number is found at index 2

- range function return the squence of number, starting from 0 by default and increment by 1, and stop before specific number

In [11]:
print(range(5))

range(0, 5)

In [17]:
seq=range(5)
print(seq[0])
print(seq[1])
print(seq[2])
print(seq[3])
print(seq[4])

0
1
2
3
4

In [19]:
seq=range(5)
for i in seq:
    print(i)

0
1
2
3
4

In [21]:
for i in range(10): # range(stop)
    print(i)

0
1
2
3
4
5
6
7
8
9

- range(start,stop,step)

In [24]:
for i in range(2,10):  #range(start,stop)
    print(i)

2
3
4
5
6
7
8
9

In [28]:
for i in range(1,10,2): #range(start,stop,step)
    print(i)

1
3
5
7
9

In [32]:
for i in range(2,10,2):
    print(i)

2
4
6
8

### Practice

In [37]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [49]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [65]:
tab=int(input("enter number which table you want to print:"))
for i in range(0,20,tab):
    print(i)

enter number which table you want to print: 5

0
5
10
15

- pass statement is null statement that does nothing, it is used as a placeholder for future code

In [70]:
for i in range(5):
    #empty

print('akhtar abbas')

IndentationError: expected an indented block after 'for' statement on line 1 (583501180.py, line 4)

- for above situation pass is used

In [73]:
for i in range(5):
    pass

print('akhtar abbas')

akhtar abbas

In [11]:
nums=[]
n=int(input("how many number you want to enter:"))
i=1
while(i<=n):
    number=int(input("enter numbers",))
    nums.append(number)
    i+=1    

sum = 0
i = 0 
while i < len(nums):
    sum+= nums[i]
    i += 1
print("the total sum is:",sum)

how many number you want to enter: 2
enter numbers 10
enter numbers 100

the total sum is: 110

In [3]:
n=int(input("enter number n:"))
sum=0
i=0
while(i<=n):
    sum+=i
    i+=1

print("the total sum of n number is:",sum)

enter number n: 5

the total sum of n number is: 15

In [11]:
n=int(input("enter number n:"))
sum=1
i=1
while(i<=n):
    sum*=i
    i+=1

print("the factorail of n number is:",sum)

enter number n: 5

the factorail of n number is: 120

In [19]:
n=int(input("enter n number which yor want to find factorial:"))
fact=1
for i in range(1,n):
    fact*=i
    
print("the factorial is:",fact)

enter n number which yor want to find factorial: 5

the factorial is: 24