# list
- use to store set of values
- the set of value may be differend datatype

In [2]:
marks=[1,3,4,4.4,4.6,4]
print(marks)

[1, 3, 4, 4.4, 4.6, 4]

In [4]:
print(marks[0])

1

In [6]:
print(len(marks))

6

In [8]:
student=["akhtar",30,"skardu"]
print(student)

['akhtar', 30, 'skardu']

- the string is  immutible but the list is mutable

In [11]:
name="akhtar"
print(name)
name[0]="e"
print(name)

akhtar

TypeError: 'str' object does not support item assignment

- the above error in cell show that string is immutable

In [20]:
listss=["akhtar",40,"karachi"]
listss[0]="ali"
print(listss)

['ali', 40, 'karachi']

In [30]:
print(listss[2])

karachi

## list slicing

- part of list

In [27]:
num=[0,1,2,3,4,5]
print(num[0:4])

[0, 1, 2, 3]

- in indexing of list the first value inlude but the last value is not include

- in we miss the starting or ending index python fill automatically

In [35]:
name=["akhtar","ali","akbar","asghar"]
print(name[:3])

['akhtar', 'ali', 'akbar']

In [37]:
print(name[3:])

['asghar']

In [39]:
info=['akhtar',40,'skardu','smiu']
print(info[-3:-1])

[40, 'skardu']

- positive index from left to right and start with 0 index
- negative index from right to left and start with -1 index

### list methods

- list specific method

In [5]:
names=["akhtar","abbas","ali"]
names.append("qammar")
print(names)

['akhtar', 'abbas', 'ali', 'qammar']

- append() is used to add value in a list

- it is also called mutating or mutable

In [11]:
num=[4,3,5,2,3,6,1]
num.sort()
print(num)

[1, 2, 3, 3, 4, 5, 6]

- sorting is by default in ascending order

- if we want in ascending then

In [21]:
num.sort(reverse=True)
print(num)

[6, 5, 4, 3, 3, 2, 1]

In [23]:
print(num.append(0))
print(num.sort())
print(num)

None
None
[0, 1, 2, 3, 3, 4, 5, 6]

In [25]:
fruits=["banana", "apple", "orange","mango","litchi"]
fruits.sort()
print(fruits)

['apple', 'banana', 'litchi', 'mango', 'orange']

In [27]:
fruits.sort(reverse=True)
print(fruits)

['orange', 'mango', 'litchi', 'banana', 'apple']

In [29]:
fruits.reverse()
print(fruits)

['apple', 'banana', 'litchi', 'mango', 'orange']

In [31]:
num=[1,2,3,4,5,6,6]
num.reverse()
print(num)

[6, 6, 5, 4, 3, 2, 1]

- reverse is use to reverse the list

- insert method is used to element value in list at particular index but append use to add element but in last by default

In [43]:
num.insert(5,0)
print(num)

[6, 6, 5, 4, 3, 0, 2, 1]

In [45]:
num=[0,1,2,3,4,5]
num.remove(0)
print(num)

[1, 2, 3, 4, 5]

- remove method is used remove any element from list

In [48]:
num=[1,1,2,3,4,5]
num.pop(0)
print(num)

[1, 2, 3, 4, 5]

- pop is use to remove element from list through index of element

# Tuples

- store set of value of different datatype but not mutatable

In [10]:
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [12]:
print(tup[1])

2

In [14]:
tup[0]=2
print(tup)

TypeError: 'tuple' object does not support item assignment

- above error show that tuple is immutable

In [13]:
tup=(1)
print(tup)
print(type(tup))

1
<class 'int'>

In [15]:
tup=(1,)
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

- if want show data as tuple then we use comma with single value

### slicing in tuple

In [20]:
tup1=(1,3,4,5,7,8,8)
print(tup1[2:5])

(4, 5, 7)

### tuple methods

- index is use to find specific element in at index

In [29]:
tup=("akhtar","abbas","ali","mustafa")
print(tup.index("ali"))

2

- count is use to count repeatition of element in a tuple

In [34]:
names=("akhtar","ali","mohsin","hassam","zulfi","ali","ali")
print(names.count("ali"))

3

### practice questions

In [37]:
movie=[]
print("Enter your three favorit movie name:")
a=input("1-",)
movie.append(a)
b=input("2-",)
movie.append(b)
c=input("3-",)
movie.append(c)
print(movie)

Enter your three favorit movie name:

1- hichki
2- three idiot
3- 12 fail

['hichki', 'three idiot', '12 fail']

- palindorm is squence of element in list that is same  from left right and vice versa
- e.g racecar , ma'am

In [51]:
listt=[1,2,3,2,1]
print(listt)

[1, 2, 3, 2, 1]

In [55]:
listt.reverse()
print(listt)

[1, 2, 3, 2, 1]

- if the element and if reverse are are same the this called palidorm

In [90]:
list1=[1,2,1]
copy_list=list1.copy()
copy_list.reverse()
if(copy_list==list1):
    print("palindorm")
else:
    print("note palindorm")

palindorm

In [92]:
list1=[1,2,3]
copy_list=list1.copy()
copy_list.reverse()
if(copy_list==list1):
    print("palindorm")
else:
    print("note palindorm")

note palindorm

In [96]:
grades=("C","D","A","A","B","B","A")
print(grades.count("A"))

3

In [100]:
grades=["C","D","A","A","B","B","A"]
grades.sort()
print(grades)

['A', 'A', 'A', 'B', 'B', 'C', 'D']